#       Replication settings

bind-address              = 127.0.0.1
expire_logs_days          = 10
#log_bin                  = /var/log/mysql/mysql-bin.log
#max_binlog_size          = 100M
server-id                 = 1

#	Additional
auto-increment-increment  = 2
# depends on node number
auto-increment-offset     = 1
log_bin_index             = /var/log/mysql/mysql-bin.log.index
log_slave_updates         = 1
relay_log_index           = /var/log/mysql/mysql-relay-bin.index
relay_log                 = /var/log/mysql/mysql-relay-bin
