#       Replication settings

bind-address              = 127.0.0.1
server-id                 = 1
log_bin                   = /var/log/mysql/mysql-bin.log
expire_logs_days          = 10
max_binlog_size           = 100M

#       Additional
auto-increment-increment  = 2
auto-increment-offset     = 1
log_bin_index             = /var/log/mysql/mysql-bin.log.index
log_slave_updates         = 1
relay_log_index           = /var/log/mysql/mysql-relay-bin.index
relay_log                 = /var/log/mysql/mysql-relay-bin
